*{
    width: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 62px;
    background-color: #C0392B;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}
main .about{
    width: 100%;
    height: 489.38px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .menu{
    width: 100%;
    height: 448px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    width: 300px;
    height: 280px;
    border: 1px none;
    border-radius: 1px;
    color: #ffffff;
    background-color: #fff9f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    font-weight: 700;
}
.price{
    color: #C0392B;
    font-weight: 700;
}
.footer{
    width: 100%;
    height: 78px;
    background-color: #2C2C2C;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}